*{ 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

body {
	background: #f2655f;	
	margin: 0;
	padding: 0;
} 

p, h1, h2, h3, h4, h5, h6 {
	font-family: ubuntu;
}

/* === Header === */

header {
	margin-top: 2px;
	height: 81px;
	background: url('../images/header.png') repeat;
}

header figure {
	background: url('../images/logo.png') no-repeat;
	width: 283px;
	height: 62px;
	position: relative;
	top: 8px;
	left: 0;
}

header nav {
	float: right;
	margin-top: -30px;
	font-size: 16px;
	font-weight: bold;
	color: #f2655f;
}

header nav a {
	padding: 9px 9px 9px 9px;
	text-decoration: none;
	margin-left: 10px;
	color: #f2655f;
}

header nav a:visited {
	color: #f2655f;
}

header nav a:hover {
	padding: 8px 8px 8px 8px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3746f), to(#dd5e59));
	background-image: -moz-linear-gradient(19% 75% 90deg,#dd5e59, #f3746f);
	border: 1px solid #d95a55;
	-webkit-box-shadow: inset 0 0 1px #ffffff;
	-moz-box-shadow: inset 0 0 1px #ffffff;
	box-shadow: inset 0 0 1px #ffffff;
	border-radius: 2px;
	color: #eeeeee;
}

header nav a:active {
	padding: 8px 8px 8px 8px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dd5e59), to(#f3746f));
	background-image: -moz-linear-gradient(19% 75% 90deg,#f3746f, #dd5e59);
	border: 1px solid #ffffff;
	-webkit-box-shadow: inset 0 1px 1px #b54945;
	-moz-box-shadow: inset 0 1px 1px #b54945;
	box-shadow: inset 0 1px 1px #b54945;
	border-radius: 3px;
	color: #eeeeee;
}

/* === Content === */

#headline {
	margin-top: 60px;
	height: 150px;
	width: 700px;
	float: left;
}

#info {
	font-weight: bold;
	font-size: 35px;
	color: #ffe6b6;
	text-shadow: 0 1px 1px #c25450;
	display: block;
}

.subtitle {
	color: #eeeeee;
	font-size: 18px;
}

/* === Footer === */

footer {
	height: 32px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#383838), to(#2d2c2c));;
	background-image: -moz-linear-gradient(19% 75% 90deg,#2d2c2c, #383838);
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	box-shadow: inset 0 -1px 0 #5e5e5e;
}

.collumns {
	display: inline;
}

footer h5 {
	font-size: 14px;
	color: #e9e9e9;
	font-weight: bold;
	font-style: italic;
	display: inline;
}

footer nav {
	margin-top: 2px;
	margin-left: 10px;
	color: #eeeeee;
	display: inline;
}

footer nav a {
	font-size: 14px;
	color: #e9e9e9;
	text-decoration: none;
	font-style: italic;
}

footer nav a:hover {
	color: #ecbd9a;
}

footer nav a:visited {
	color: #eeeeee;
}
